@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family:'Poppins',sans-serif;
    padding:0;
    margin:0;
    box-sizing:border-box;

}

body{
    color:#224957;
}

a{
    color:#093545;
}

.btn, input{
    color:#000000;
    height:45px;
    border-radius:10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
input{
    border:none
}

input[type="text"], input[type="password"]{
    padding: 10px;
}

.btn{
    background-color:#20DF7F;

}
.btn:hover{
    cursor:pointer;
    background-color:#3DE397;
    color:#224957;
}

#Fullname,#password,#PhoneNumber,#Email{
    background-color:#224957;
    color:#FFFFFF;
    height: 45px;
}

#footer-image{
    width:100%;
}

#Login-Footer{
    margin-top:auto;
}


#Email_Register::placeholder{
    padding-left:10px;
}
  
input::placeholder{
    margin-left:10px;
}