@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --color-gradient-start: #d7e6de;
    --color-gradient-stop: #93d4b3;
    --color-greenish-beige: #cadc63;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}

body{
    background-color: #E5E4E2;
}

.navbar{
    background-color:white;
    max-width:100%; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.Icon-Nav{
    width:1.5vw;
    height:1.5vw;
}

.Icon-Nav-Title{
    width:3vw;
    height:3vw;
    object-fit:cover;
}

#Payment-Icon{
    background-color:white;
}

#Payment-Menu{
    height:5vh;
}

.menu-option{
    height:5vh;
}



#sidebar{
    background-image:linear-gradient(to right, var(--color-gradient-start),var(--color-gradient-stop));

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#main-content{
    margin-left:20%;
}


a{
    color:#093545;
}

.btn, input{
    color:#000000;
    height:45px;
    border-radius:10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
input{
    border:none
}

input[type="text"], input[type="password"]{
    padding: 10px;
}

.btn{
    background-color:#20DF7F;

}
.btn:hover{
    cursor:pointer;
    background-color:#3DE397;
    color:#224957;
}

#Fullname,#password,#PhoneNumber,#Email{
    background-color:#224957;
    color:#FFFFFF;
    height: 45px;
}

#footer-image{
    width:100%;
}

#Login-Footer{
    margin-top:auto;
}


#Email_Register::placeholder{
    padding-left:10px;
}
  
input::placeholder{
    margin-left:10px;
}


#table-title{
    border-radius: 20px;
    background-color: #f5f5f5;
}

#table-1{
    background-color: #f5f5f5;
    border-radius: 20px;
}